<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!--jobs -->



    <!-- specialni pripad spousti se po startu aplikace > metoda instalDefaultValues() se obaluje session-->
    <!--startup-->
    <bean id="startUpJob" class="com.inspectime.application.jobs.impl.StartUpJobImpl"
          init-method="init"/>
    <!--startup-->

    <!--commandLogOptimalizerJob-->

    <!--job ktery shlukuje stdout vydalenych skriptu aby bylo mene radku-->
    <!--bean - impl-->

    <!-- job - invoker
    <bean id="commandLogOptimalizerJob"     class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="commandLogOptimalizer"/>
        <property name="targetMethod" value="execute"/>
        <property name="concurrent" value="false" />
    </bean>
    -->




<!--factory
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="commandLogOptimalizerCronTrigger"/>
                <ref bean="workflowStarterCronTrigger"/>

            </list>
        </property>
        <property name="waitForJobsToCompleteOnShutdown" value="true"/>
    </bean>
-->

</beans>